[submodule "Vision"]
	path = Vision
	url = https://github.com/InterfaceGuy/Vision.git
[submodule "Narrative"]
	path = Narrative
	url = https://github.com/InterfaceGuy/Narrative.git
[submodule "LiminalWebUI"]
	path = LiminalWebUI
	url = https://github.com/InterfaceGuy/LiminalWebUI
